
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1087px;
    height: 832px;
    margin: 0 auto;
    font-size: 0px;
  }
  .quiz-analysis {
    display: block;
    position: relative;
    height: 75px;
    margin: 60px 0 0 374px;
    color: #4f76ff;
    font-family: Poppins, var(--default-font-family);
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
  }
  .group-1 {
    position: relative;
    width: 929px;
    height: 360px;
    margin: 52px 0 0 79px;
    z-index: 3;
  }
  .group-2 {
    position: absolute;
    width: 752px;
    height: 360px;
    top: 0;
    left: 17px;
    z-index: 12;
  }
  .group-3 {
    position: absolute;
    width: 422px;
    height: 360px;
    top: 0;
    left: 0;
    z-index: 78;
  }
  .quiz-name {
    position: absolute;
    width: 89px;
    height: 360px;
    top: 0;
    left: 80px;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    z-index: 81;
  }
  .quiz-name-4 {
    position: relative;
    color: #f3f3f3;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }
  .quiz-list {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }
  .created-on {
    position: absolute;
    width: 102px;
    height: 360px;
    top: 0;
    left: 198px;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    z-index: 82;
  }
  .created-on-5 {
    position: relative;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }
  .created-date {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }
  .impression {
    position: absolute;
    width: 92px;
    height: 360px;
    top: 0;
    left: 330px;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 83;
  }
  .impression-6 {
    position: relative;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }
  .impression-count {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }
  .group-7 {
    position: absolute;
    width: 45px;
    height: 359px;
    top: 1px;
    left: 0;
    z-index: 79;
  }
  .serial-number {
    position: absolute;
    width: 45px;
    height: 359px;
    top: 0;
    left: 0;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    z-index: 80;
  }
  .serial-number-8 {
    position: relative;
    color: #ffffff;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }
  .serial-list {
    position: relative;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
  }
  .group-9 {
    position: absolute;
    width: 154px;
    height: 326px;
    top: 34px;
    left: 598px;
    font-size: 0px;
    z-index: 69;
  }
  .question-wise-analysis {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 154px;
    height: 44px;
    margin: 0 0 0 0;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 70;
  }
  .question-wise-analysis-a {
    position: relative;
    width: 154px;
    height: 39px;
    margin: 0 0 0 0;
    cursor: pointer;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 600;
    line-height: 39px;
    white-space: nowrap;
    background: transparent;
    border: none;
    z-index: 71;
  }
  .question-wise-analysis-b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 154px;
    height: 44px;
    margin: 0 0 0 0;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 72;
  }
  .question-wise-analysis-c {
    position: relative;
    width: 154px;
    height: 39px;
    margin: 0 0 0 0;
    cursor: pointer;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 600;
    line-height: 39px;
    white-space: nowrap;
    background: transparent;
    border: none;
    z-index: 73;
  }
  .question-wise-analysis-d {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 154px;
    height: 40px;
    margin: 0 0 0 0;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 74;
  }
  .question-wise-analysis-e {
    position: relative;
    width: 154px;
    height: 39px;
    margin: 0 0 0 0;
    cursor: pointer;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 600;
    line-height: 39px;
    white-space: nowrap;
    background: transparent;
    border: none;
    z-index: 75;
  }
  .question-wise-analysis-f {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 154px;
    height: 40px;
    margin: 0 0 0 0;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 76;
  }
  .question-wise-analysis-10 {
    position: relative;
    width: 154px;
    height: 39px;
    margin: 2px 0 0 0;
    cursor: pointer;
    color: #000000;
    font-family: Poppins, var(--default-font-family);
    font-size: 13px;
    font-weight: 600;
    line-height: 39px;
    white-space: nowrap;
    background: transparent;
    border: none;
    z-index: 77;
  }
  .flex-column-cdf {
    position: absolute;
    width: 92px;
    height: 304px;
    top: 48px;
    left: 462px;
    z-index: 62;
  }
  .group-11 {
    position: relative;
    width: 92px;
    height: 24px;
    margin: 0 0 0 0;
    z-index: 13;
  }
  .uil-edit {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 14;
    overflow: hidden;
  }
  .vector {
    position: relative;
    width: 20.006px;
    height: 20.006px;
    margin: 1.994px 0 0 2px;
    /* background: url(../assets/images/a949940e-211e-444e-8d2f-e836b3047570.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 15;
  }
  .material-symbols-delete {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 34px;
    z-index: 16;
    overflow: hidden;
  }
  .vector-12 {
    position: relative;
    width: 16px;
    height: 18px;
    margin: 3px 0 0 4px;
    /* background: url(../assets/images/e286d41b-0f0b-45ec-a71d-b643756d079f.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 17;
  }
  .material-symbols-share {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 68px;
    z-index: 18;
    overflow: hidden;
  }
  .vector-13 {
    position: relative;
    width: 18px;
    height: 20px;
    margin: 2px 0 0 3px;
    /* background: url(../assets/images/d4acc700-4e2b-46cf-bde7-255f71da198e.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 19;
  }
  .group-14 {
    position: relative;
    width: 92px;
    height: 24px;
    margin: 16px 0 0 0;
    z-index: 20;
  }
  .uil-edit-15 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 21;
    overflow: hidden;
  }
  .vector-16 {
    position: relative;
    width: 20.006px;
    height: 20.006px;
    margin: 1.994px 0 0 2px;
    /* background: url(../assets/images/153e1c29-6042-4a6b-8161-6343d16db088.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 22;
  }
  .material-symbols-delete-17 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 34px;
    z-index: 23;
    overflow: hidden;
  }
  .vector-18 {
    position: relative;
    width: 16px;
    height: 18px;
    margin: 3px 0 0 4px;
    /* background: url(../assets/images/ff124908-def6-4943-b70c-1cc7117929db.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 24;
  }
  .material-symbols-share-19 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 68px;
    z-index: 25;
    overflow: hidden;
  }
  .vector-1a {
    position: relative;
    width: 18px;
    height: 20px;
    margin: 2px 0 0 3px;
    /* background: url(../assets/images/96246257-8ed8-451c-9bbb-f9f008d34ac8.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 26;
  }
  .group-1b {
    position: relative;
    width: 92px;
    height: 24px;
    margin: 16px 0 0 0;
    z-index: 27;
  }
  .uil-edit-1c {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 28;
    overflow: hidden;
  }
  .vector-1d {
    position: relative;
    width: 20.006px;
    height: 20.006px;
    margin: 1.994px 0 0 2px;
    /* background: url(../assets/images/b69fb761-9b5d-4abe-9150-305d2de4a0b3.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 29;
  }
  .material-symbols-delete-1e {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 34px;
    z-index: 30;
    overflow: hidden;
  }
  .vector-1f {
    position: relative;
    width: 16px;
    height: 18px;
    margin: 3px 0 0 4px;
    /* background: url(../assets/images/f4dfdf7e-a5da-476b-b64c-01e3f99c9909.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 31;
  }
  .material-symbols-share-20 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 68px;
    z-index: 32;
    overflow: hidden;
  }
  .vector-21 {
    position: relative;
    width: 18px;
    height: 20px;
    margin: 2px 0 0 3px;
    /* background: url(../assets/images/b3736d51-84b6-49c0-bdc7-cc3d84a340ba.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 33;
  }
  .group-22 {
    position: relative;
    width: 92px;
    height: 24px;
    margin: 16px 0 0 0;
    z-index: 34;
  }
  .uil-edit-23 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 35;
    overflow: hidden;
  }
  .vector-24 {
    position: relative;
    width: 20.006px;
    height: 20.006px;
    margin: 1.994px 0 0 2px;
    /* background: url(../assets/images/e446532c-5a1d-435c-a11e-2a3ba7f2a531.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 36;
  }
  .material-symbols-delete-25 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 34px;
    z-index: 37;
    overflow: hidden;
  }
  .vector-26 {
    position: relative;
    width: 16px;
    height: 18px;
    margin: 3px 0 0 4px;
    /* background: url(../assets/images/d016fe6c-3b5a-42d4-8960-d52d17881cdd.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 38;
  }
  .material-symbols-share-27 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 68px;
    z-index: 39;
    overflow: hidden;
  }
  .vector-28 {
    position: relative;
    width: 18px;
    height: 20px;
    margin: 2px 0 0 3px;
    /* background: url(../assets/images/61ddb94e-3fca-4563-91a6-6b24fc73c24d.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 40;
  }
  .group-29 {
    position: relative;
    width: 92px;
    height: 24px;
    margin: 16px 0 0 0;
    z-index: 41;
  }
  .edit-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 42;
    overflow: hidden;
  }
  .vector-icon {
    position: relative;
    width: 20.006px;
    height: 20.006px;
    margin: 1.994px 0 0 2px;
    /* background: url(../assets/images/23efcdec-df31-4f2a-b877-4811eb864782.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 43;
  }
  .delete-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 34px;
    z-index: 44;
    overflow: hidden;
  }
  .vector-icon-2a {
    position: relative;
    width: 16px;
    height: 18px;
    margin: 3px 0 0 4px;
    /* background: url(../assets/images/9d473b76-10ed-4d20-86b2-c5f87c3e5094.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 45;
  }
  .share-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 68px;
    z-index: 46;
    overflow: hidden;
  }
  .vector-icon-2b {
    position: relative;
    width: 18px;
    height: 20px;
    margin: 2px 0 0 3px;
    /* background: url(../assets/images/1f0719a7-ba67-4ae3-9fd8-c607d1b19fb9.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 47;
  }
  .group-2c {
    position: relative;
    width: 92px;
    height: 24px;
    margin: 16px 0 0 0;
    z-index: 48;
  }
  .edit-icon-2d {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 49;
    overflow: hidden;
  }
  .vector-icon-2e {
    position: relative;
    width: 20.006px;
    height: 20.006px;
    margin: 1.994px 0 0 2px;
    /* background: url(../assets/images/9a2ba1c6-9fd8-4b3c-9656-36dbcef51c17.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 50;
  }
  .delete-icon-2f {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 34px;
    z-index: 51;
    overflow: hidden;
  }
  .vector-icon-30 {
    position: relative;
    width: 16px;
    height: 18px;
    margin: 3px 0 0 4px;
    /* background: url(../assets/images/2b054357-de27-418c-9796-62aa48dc1eed.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 52;
  }
  .share-icon-31 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 68px;
    z-index: 53;
    overflow: hidden;
  }
  .vector-icon-32 {
    position: relative;
    width: 18px;
    height: 20px;
    margin: 2px 0 0 3px;
    /* background: url(../assets/images/843e4472-808a-432b-b92d-66239378985b.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 54;
  }
  .group-33 {
    position: relative;
    width: 92px;
    height: 24px;
    margin: 16px 0 0 0;
    z-index: 55;
  }
  .edit-icon-34 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 56;
    overflow: hidden;
  }
  .vector-icon-35 {
    position: relative;
    width: 20.006px;
    height: 20.006px;
    margin: 1.994px 0 0 2px;
    /* background: url(../assets/images/18673749-2553-4286-87eb-11c96d839d9b.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 57;
  }
  .delete-icon-36 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 34px;
    z-index: 58;
    overflow: hidden;
  }
  .vector-icon-37 {
    position: relative;
    width: 16px;
    height: 18px;
    margin: 3px 0 0 4px;
    /* background: url(../assets/images/df46fb28-fb8f-4337-87a5-09ccf934bcc0.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 59;
  }
  .share-icon-38 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 68px;
    z-index: 60;
    overflow: hidden;
  }
  .vector-39 {
    position: relative;
    width: 18px;
    height: 20px;
    margin: 2px 0 0 3px;
    /* background: url(../assets/images/7a1f71fe-b6d9-48c2-ac29-76e83109fa86.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 61;
  }
  .group-3a {
    position: relative;
    width: 92px;
    height: 24px;
    margin: 16px 0 0 0;
    z-index: 62;
  }
  .edit {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 63;
    overflow: hidden;
  }
  .vector-3b {
    position: relative;
    width: 20.006px;
    height: 20.006px;
    margin: 1.994px 0 0 2px;
    /* background: url(../assets/images/4e9d3170-6178-4cf1-9432-569a8d60057e.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 64;
  }
  .delete {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 34px;
    z-index: 65;
    overflow: hidden;
  }
  .vector-3c {
    position: relative;
    width: 16px;
    height: 18px;
    margin: 3px 0 0 4px;
    /* background: url(../assets/images/f60dde27-ed23-46b1-bce0-c47cd1f41514.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 66;
  }
  .share {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 68px;
    z-index: 67;
    overflow: hidden;
  }
  .vector-3d {
    position: relative;
    width: 18px;
    height: 20px;
    margin: 2px 0 0 3px;
    /* background: url(../assets/images/40d01103-7339-4d86-941f-c1586274885c.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 68;
  }
  .rectangle {
    position: absolute;
    width: 925px;
    height: 35px;
    top: 1px;
    left: 4px;
    background: #4f76ff;
    z-index: 4;
    border-radius: 10px;
  }
  .rectangle-3e {
    position: absolute;
    width: 925px;
    height: 39px;
    top: 80px;
    left: 0;
    background: #b2c3ff;
    z-index: 5;
    border-radius: 10px;
  }
  .group-3f {
    position: absolute;
    width: 925px;
    height: 39px;
    top: 163px;
    left: 0;
    z-index: 6;
    border-radius: 10px;
  }
  .rectangle-40 {
    position: absolute;
    width: 925px;
    height: 39px;
    top: 0;
    left: 0;
    background: #b2c3ff;
    z-index: 7;
    border-radius: 10px;
  }
  .group-41 {
    position: absolute;
    width: 925px;
    height: 39px;
    top: 242px;
    left: 0;
    z-index: 8;
    border-radius: 10px;
  }
  .rectangle-42 {
    position: absolute;
    width: 925px;
    height: 39px;
    top: 0;
    left: 0;
    background: #b2c3ff;
    z-index: 9;
    border-radius: 10px;
  }
  .group-43 {
    position: absolute;
    width: 925px;
    height: 39px;
    top: 321px;
    left: 0;
    z-index: 10;
    border-radius: 10px;
  }
  .rectangle-44 {
    position: absolute;
    width: 925px;
    height: 39px;
    top: 0;
    left: 0;
    background: #b2c3ff;
    z-index: 11;
    border-radius: 10px;
  }
  .more-quiz {
    display: block;
    position: relative;
    height: 18px;
    margin: 77px 0 0 905px;
    color: #474343;
    font-family: Poppins, var(--default-font-family);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
  }
  .rectangle-45 {
    position: absolute;
    width: 1087px;
    height: 832px;
    top: 0;
    left: 0;
    background: #ececec;
  }
  