
.app {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px; 
  background-color: #833131; 
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.content {
  flex: 1;
  padding: 10px;
  margin-left: 0px;
  margin-top: 0px; 
}
