/* App.css */

.app {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px; /* Adjust width as needed */
  background-color: #f0f0f0; /* Sidebar background color */
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.content {
  flex: 1;
  padding: 10px;
  margin-left: 0px;
  margin-top: 0px; /* Adjust margin to leave space for the sidebar */
}
