
.ImageAlign {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .story1 {
width: 235px;
height: 235px;
top: 106px;
left: 43px;
gap: 0px;
border: 5px 0px 0px 0px;
opacity: 0px;
margin-left: 43px;
object-fit: cover;



  }
  
  .story2 {
    width: 235px;
height: 235px;
top: 106px;
left: 43px;
gap: 0px;
border: 5px 0px 0px 0px;
opacity: 0px;
margin-left: 43px;
object-fit: cover;

  }
  .story3 {
    width: 235px;
    height: 235px;
    top: 106px;
    left: 43px;
    gap: 0px;
    border: 5px 0px 0px 0px;
    opacity: 0px;
    margin-left: 43px;
    object-fit: cover;
    border-radius: 30px;
    
  }
  .story4 {
    width: 235px;
    height: 235px;
    top: 106px;
    left: 43px;
    gap: 0px;
    border: 5px 0px 0px 0px;
    opacity: 0px;
    margin-left: 43px;
    object-fit: cover;
    
  }
  .story5 {
    width: 235px;
    height: 235px;
    top: 106px;
    left: 43px;
    gap: 0px;
    border: 5px 0px 0px 0px;
    opacity: 0px;
    margin-left: 43px;
    object-fit: cover;
  }
  .image-text-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
  }
  .image-container {
    display: inline-flex; /* Display images in a row */
    padding-bottom: 20px; /* Add some spacing between images and bottom */
  }
  .ImageAlign::-webkit-scrollbar {
    display: none;
  }
  
  .ImageAlign {
    scrollbar-width: none; /* Firefox */
  }
  
.scroll-icon {
  position: absolute; /* Position the arrow button absolutely */
  top: 155px;
  right: 0px; /* Position the arrow button vertically in the middle */
 /* Position the arrow button on the right side */
  transform: translateY(-50%); /* Adjust vertical position to center */
  cursor: pointer;
  color: bisque;

}

.scroll-icon i {
  font-size: 24px; /* Adjust arrow icon size as needed */
}


.scroll-icon.left {
  left: 0; /* Position the left arrow on the left side */
}

.scroll-icon.right {
  right: 0; /* Position the right arrow on the right side */
}